<li class="list-group-item" data-id="<%= id %>">
    <div class="row">
        <div class="date  col-md-2"><%= date %></div>
        <div class="category  col-md-2"><%= category %></div>
        <div class="content  col-md-4"><%= content %></div>
        <div class="amount  col-md-2  text-right"><%= amount %></div>
        <div class="col-md-2  text-right">
            <button type="button" class="btn  btn-xs  btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn  btn-xs  btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</li>